/* Remove if fonts are not used */
@import '~@fontsource/inter/100.css';
@import '~@fontsource/inter/200.css';
@import '~@fontsource/inter/300.css';
@import '~@fontsource/inter/400.css';
@import '~@fontsource/inter/500.css';
@import '~@fontsource/inter/600.css';
@import '~@fontsource/inter/700.css';
@import '~@fontsource/inter/800.css';
@import '~@fontsource/inter/900.css';
@import '~@fontsource/roboto-mono/300.css';
@import '~@fontsource/roboto-mono/400.css';
@import '~@fontsource/plus-jakarta-sans/600.css';
@import '~@fontsource/plus-jakarta-sans/700.css';


@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/ProximaNova-Regular-531916d292.woff2") format("woff2"), url("/assets/fonts/ProximaNova-Regular-a72b86f506.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/ProximaNova-Bold-f5af51ecc2.woff2") format("woff2"), url("/assets/fonts/ProximaNova-Bold-1cfacc36ae.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/ProximaNova-Black-45efd9ebe2.woff2") format("woff2"), url("/assets/fonts/ProximaNova-Black-22f5f08e26.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display:swap
}


body {
  font-size: 1rem;
  font-family: "ProximaNova", "Helvetica", "Arial", sans-serif;
  line-height:1.5rem
}

.MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  font-size: 1.2rem; /* adjust this value as needed */
}

/* Remove if simplebar is not used  todo: try to remove*/
@import '~simplebar-react/dist/simplebar.min.css';

/* Remove if slick-carousel is not used */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* Remove if react-quill is not used */
@import '~react-quill/dist/quill.snow.css';

/* Remove if react-draft-wysiwyg is not used */
@import '~react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

/* Remove if mapbox is not used */
@import '~mapbox-gl/dist/mapbox-gl.css';

.line-or-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.line {
  flex-grow: 1;
  border: 0;
  border-top: 1px solid lightgray;
  margin: 0 10px;
}

.word {
  white-space: nowrap;
  padding: 0 10px;
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  background-color: currentColor;
  width: 2px;
  height: 1em;
  animation: blink 1s step-start 0s infinite;
}

.search-card {
  border-radius: 5rem;
  width: 60%;
  max-width: 50rem;
}

@media (min-width: 1200px) {
  .largeScreenAvatar {
    /*position: absolute;*/
    top: 0;
    transform: translateY(-8%) !important;
  }
}
@media (max-width: 1199px) {
  .search-card {
    border-radius: 5rem;
    width: 90%;
    max-width: 50rem;
  }
  .up-spacing {
    padding-bottom: 1.2rem;
  }
  .bck-btn {
    display: none;
  }
  .largeScreenAvatar {
    /*position: absolute;*/
    top: 0;
    transform: translateY(-10%) !important;
  }
  .largeScreenAvatar2 {
    /*position: absolute;*/
    top: 0;
    transform: translateY(-5%) !important;
  }

}

.googleLogin {
  width: 100%;
  color: inherit;
}


/*@media (max-width: 1199px) {*/
/*  .largeScreenAvatar {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    transform: translateY(20%);*/
/*  }*/
/*}*/

.shiny-gold {
  background: linear-gradient(135deg, #D4AF37, #FFD700); /* Gradient to simulate a shine */
  background-size: 200% 200%;
  background-position: 50% 50%;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), inset 0 -2px 10px rgba(255, 255, 255, 0.4); /* Inner and outer shadows */
  transition: background-position 1s ease; /* Smooth transition for hover effect */
}

.shiny-gold:hover {
  background-position: 100% 0;
}

